{% extends 'base.html.twig' %}

{% block title %}TAUX DU JOUR{% endblock %}

{% block body %}
    <h1 class="text-center">TAUX DU JOUR</h1>

    <table class="table table-bordered table-transfert">
        <thead class="text-center">
            <tr>
                <th>Id</th>
                <th>Pays</th>
                <th>Drapeau</th>
                <th><img src="/images/uploads/r1.jpg" class="img-transfert"alt="RIA"> </th>
                <th><img src="/images/uploads/mg.jpg" class="img-transfert"alt="MoneyGram"> </th>
                <th> <img src="/images/uploads/wu1.png" class="img-transfert"alt="Western Union"></th>
                <th>actions</th>
            </tr>
        </thead>  
        <tbody>
        {% for money_transfert in money_transferts %}
            <tr>
                <td>{{ money_transfert.id }}</td>
                <td>{{ money_transfert.pays }}</td>
                <td> <img src="/images/uploads/{{ money_transfert.path }}" class="img-flag" alt="{{ money_transfert.pays }}"> </td>
                {# <td>{{ money_transfert.path }}</td> #}
                <td>{{ money_transfert.ria }}</td>
                <td>{{ money_transfert.moneyGram }}</td>
                <td>{{ money_transfert.westernUnion }}</td>
                <td>
                    <a href="{{ path('money_transfert_show', {'id': money_transfert.id}) }}">show</a>
                    <a href="{{ path('money_transfert_edit', {'id': money_transfert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('money_transfert_new') }}">Create new</a>
{% endblock %}
