{% extends 'base.html.twig' %}

{% block title %}MoneyTransfert{% endblock %}

{% block body %}
    <h1>MoneyTransfert</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ money_transfert.id }}</td>
            </tr>
            <tr>
                <th>Ria</th>
                <td>{{ money_transfert.ria }}</td>
            </tr>
            <tr>
                <th>MoneyGram</th>
                <td>{{ money_transfert.moneyGram }}</td>
            </tr>
            <tr>
                <th>WesternUnion</th>
                <td>{{ money_transfert.westernUnion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('money_transfert_index') }}">back to list</a>

    <a href="{{ path('money_transfert_edit', {'id': money_transfert.id}) }}">edit</a>

    {{ include('money_transfert/_delete_form.html.twig') }}
{% endblock %}
