{% extends 'base.html.twig' %}

{% block title %}Confirmer votre Rdv{% endblock %}

{% block body %}

<h1>Fiche RDV </h1>
<p>Vous souhaitez un rdv le {{ jourSelected }} / {{ horaireNomSelected }}  / {{ creneauNomSelected }}  </p>
<div class="jumbotron">

    <form method="post" action="{{ path('fiche_rdv' , {'horaireIdSelected': horaireIdSelected , 'jourSelected': jourSelected ,
                                   'creneauIdSelected': creneauIdSelected
                                   })  }}">


  <input  name="jourSelected" value="{{ jourSelected }}"  type="hidden">
  
  <input  name="horaireIdSelected" value="{{ horaireIdSelected }}" type="hidden">
  
  <input   name="creneauIdSelected" value="{{ creneauIdSelected }}" type="hidden">



  <label for="fname">Prénom:</label>
  {# value="" #}
  <input type="text" id="fname" name="prenom"  required><br><br>
  <label for="lname">Nom:</label>
  <input type="text" id="lname" name="nom" required><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required ><br><br>
  <input type="submit" value="Submit"><br>
  <p>Veuillez confirmer vôtre rdv </p>
</form><br> 
</div>
{% endblock %}
