<div class=" container-fluid">


	<div class="row dark">

		<div
			class="col-12 col-md-6 col-lg-4">

			<!-- Heading -->
			<img src="/images/uploads/logo1.jpg" alt="logo" class="logo-footer img-fluid mb-2">


			<!-- List -->
			<!-- <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0"> -->
				<ul class="list-unstyled text mb-6 mb-md-8 mb-lg-0"> <a target="_blank" href="https://www.facebook.com/Ganapathy-177851364350116">
					<li class="social-icon list-group-item">
						<i class="fab fa-facebook"></i>
					</li>
				</a>
				<a target="_blank" href="">
					<li class="social-icon list-group-item">
						<i class="fab fa-twitter"></i>
					</li>
				</a>
				<a target="_blank" href="https://www.instagram.com/bobigny_boucherie/">
					<li class="social-icon list-group-item">
						<i class="fab fa-instagram"></i>
					</li>
				</a>
				<a target="_blank" href="https://api.whatsapp.com/send?phone=+0033610669591&text=I%20want%20to%20find%20out%20about%20your%20products">
					<li class="social-icon list-group-item">
						<i class="fab fa-whatsapp-square"></i>
					</li>
				</a>
				{# <a href="https://api.whatsapp.com/send?phone=+0033781388067&text=I%20want%20to%20find%20out%20about%20your%20products "><i class="fab fa-whatsapp-square"></i></a> #}


			</ul>
			<ul class="list-unstyled text mb-6 mb-md-8 mb-lg-0">

				<li class="address text-white">

					<a target="_blank" href="https://www.google.com/search?q=172+avenue+jean+jaur%C3%A8s+93000+bobigny&rlz=1C1CHBF_frFR863FR865&sxsrf=ALeKk00rYwOtVyylWdpwQDD9ZQJaujCt1g%3A1628717157348&ei=ZUAUYZW7FPGSjLsP7au30A0&oq=172+A&gs_lcp=Cgdnd3Mtd2l6EAEYATIKCAAQgAQQhwIQFDIFCAAQywEyBQgAEMsBMgUIABDLATIFCAAQywEyBQgAEMsBMgUIABDLATIFCAAQywEyBQgAEMsBMgUIABDLAToHCAAQRxCwAzoECCMQJzoGCAAQFhAeOggIABAWEAoQHjoHCCMQ6gIQJzoFCAAQkQI6BQgAEIAEOgUILhCABDoLCC4QgAQQxwEQrwE6DgguEIAEEMcBEK8BEJMCOgQIABAKSgQIQRgAUPSyAViF7QFg0JgCaANwAngEgAGMAogBmhCSAQYxLjEwLjKYAQCgAQGwAQrIAQPAAQE&sclient=gws-wiz ">
						<i class="fa fa-map-marker"></i>
						172 Avenue jean Jaures, 93000 Bobigny.</a>
				</li>


				<li class="phone text-white">
					<i class="fa fa-phone"></i>
					+33951873063</li>
				<li>	
				<a class="d-block d-md-none text-white" href="sms:+33610669591">Cliquez ici pour envoyer un SMS</a></li>
				
				<li class="email text-white">
					<a href="mailto:?to=contact@ganapathy.fr">
						<i class="fas fa-envelope"></i>
						contact@ganapathy.fr</li>
				</li>
			</a>

		</ul>
	</div>

	<div
		class="col-12 col-md-6 col-lg-4">

		<!-- Heading -->
		<h4 class="fw-bold text-uppercase text-white">
			La Boucherie
		</h4>
		<div class="heading-underline"></div>

		<!-- List -->
		<!-- <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0"> -->
		<ul class="list-unstyled text-white mb-6 mb-md-8 mb-lg-0">
			<li class="mb-3">
				<a href="{{ path("cgv") }}" class="text-reset">
					cgv
				</a>
			</li>
			<li class="mb-3">
				<a href="{{ path("condition") }}" class="text-reset">
					Condition d'utilisation
				</a>
			</li>
			<li class="mb-3">
				<a href="{{ path("mention_legale") }}" class="text-reset">
					Mention Legal
				</a>
			</li>
		</ul>
	</div>
	<div
		class="col-12 col-md-6 col-lg-4">
		<!-- Heading -->
		<h4 class="fw-bold text-uppercase text-white">
			Notre Clients
		</h4>
		<div class="heading-underline"></div>
		<!-- List -->
		<ul class="list-unstyled text-white mb-0">
			<li class="mb-3">
				<a href="{{ path("contact") }}" class="text-reset">
					Contact
				</a>
			</li>
			<li class="mb-3">
				<a href="{{ path("reduction") }}" class="text-reset">
					Bon de reduction
				</a>
			</li>
			<li>
				<a href="{{ path("protection") }}" class="text-reset">
					Protection
				</a>
			</li>
		</ul>
		<br>
		<br>
